<h1>Splash</h1>

<div class="logo">
    aqui va un logo
</div>

<div class="signin">
    <%= link_to "Sign in", new_user_registration_path %>
</div>
<div class="login">
    <%= link_to "Log in", new_user_session_path %>
</div>



