<div class="logo">
    <%= image_tag "logo.png", alt: 'Logo' %>
</div>

<div class="login">
    <%= link_to "LOG IN", new_user_session_path %>
</div>

<div class="signup">
    <%= link_to "SIGN UP", new_user_registration_path %>
</div>




